body {
    background: #F1F9F6;

}

/* common  */
.container {
    width: 1410px;
    height: 680px;
    margin-top: 90px;
    margin-left: 216px;
    background-color: rgb(201, 188, 188);
    gap: 30px;
}

/* common */


/* Navbar Start*/

nav {
    height: 50px;
    width: 1854px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
    background: #FFFFFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo-img {
    width: 105.59px;
    height: 25px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 40px;
}

.notification {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.user-image img {
    width: 32px;
    height: 32px;
    border-radius: 25.6px;
}

/* Navbar End*/

/* Analytical Grid  start */

/* airtrip  */

.airtrip {
    display: flex;
    width: 100%;
    height: 36px;
    gap: 15px;
}

.left-airtrip {
    display: flex;
    width: 116px;
    height: 32px;
    background-color: yellow;
    gap: 10px;
}

.left-airtrip-image {
    width: 30px;
    height: 30px;
    padding: 6px 10px;
    gap: 10px;
    border-radius: 50px;
    border: 1px;
    opacity: 0px;
    border: 1px solid #EAECF0;
    cursor: pointer;
}

.left-airtrip-image img {
    width: 7px;
    height: 11.92px;
    gap: 0px;
    opacity: 0px;

}

.left-airtrip p {
    width: 76px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.right-airtrip {
    width: 1284px;
    height: 36px;
    background-color: blue;
    gap: 6px;
    display: flex;
    /* Use flexbox for centering */
    /* justify-content: center; */
    /* Centers horizontally */
    align-items: center;
    /* Centers vertically */

}

.right-airtrip p {
    width: 308px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background: #475467;


}


/* airtrip-second */
.airtrip-second {
    width: 100%;
    height: 250px;
    border-radius: 12px;
    background-color: black;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* airtrip-third */
/* Analytical Grid End */